<template>
<<<<<<< HEAD
  <div class="hello.world">
    <img class = "img-show" :src="imageName">
    <!-- <router-view/> -->
    <h2>This is {{ page_name }}</h2>
    <h2><router-link class="nav-link" to="/Home">goto Home</router-link></h2>
    <h2><router-link class="nav-link" to="/About:bee">goto About</router-link></h2>
    <h2><router-link class="nav-link" to="/HelloWorld">goto HelloWorld</router-link></h2>
    <h2><router-link class="nav-link" to="/Tutorial">goto Tutorial</router-link></h2>
=======
  <div class="helloworld">
    <img class = "img-show" :src="imageName">
    <h2>This is Helloworld</h2>
    <h2>   <router-link class="nav-link" to="/Home">Home</router-link>  </h2>
    <h2>   <router-link class="nav-link" to="/About:Pern">About</router-link>  </h2>
    <h2>   <router-link class="nav-link" to="/HelloWorld">HelloWorld</router-link>  </h2>
>>>>>>> origin/master
  </div>
</template>

<script>
<<<<<<< HEAD

// import image 
import Image1 from '@/assets/HelloWorld/view3.jpg'

export default {
  name: 'HelloWorld',
  data () {
      return {
        imageName : Image1,
        page_name: "HelloWorld"
=======
  // import image 
  import Image1 from '@/assets/Helloworld/view2.jpg'

  export default {
    name: "HelloWorld",
    data () {
      return {
        imageName: Image1
>>>>>>> origin/master
      }
  }
}
</script>

<<<<<<< HEAD
<style>
.hello.world {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
=======
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
>>>>>>> origin/master
.nav-link{
  font-size: 34px;
  font-weight: 700;
  align-content: center;
  color: blue;
}
<<<<<<< HEAD
.img-show{
  height: 300px;
  width: 350px;
=======
.helloworld {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.img-show{
  height: 200px;
  width: 250px;
>>>>>>> origin/master
}
</style>
