<template>
  <div class="not-found">
    <h2>OOPS!</h2>
    <h2>Error 404 : Page Not Found</h2>
  </div>
</template>

<script>

// import image
import imageHome1 from '@/assets/Home/view3.jpg'
  export default {
    name: "Home",
    data () {
      return {
        imageName: imageHome1
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.not-found {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-size: 48px;
}
.nav-link{
  font-size: 34px;
  font-weight: 700;
  align-content: center;
  color: blue;
}
.img-show{
  height: 200px;
  width: 250px;
}
</style>
