<template>
<<<<<<< HEAD
  <div class="home">
      <img  class = "img-show" :src="imageName">
      <h2> Login </h2>
      <input class= "txt-input" type = 'text'/><br>
      <input class= "txt-input" type = "password"/>
=======
  <div class="login">
    <img  class = "img-show" :src="imageName">
    <h2>Login</h2>
    <div class= 'auth-space'>Username: </div><input class = "auth-txt-box" type ='text'/><br>
    <div class= 'auth-space'>Password: </div><input class = "auth-txt-box"type = "password"/><br>
    <div class='auth-space'> <button class='btn-auth' type='button'>Login</button></div>
>>>>>>> origin/master
  </div>
</template>

<script>

<<<<<<< HEAD
  // import image
  import imageHome1 from '@/assets/Auth/logo1.png'
  import Router from 'vue-router'
  import Vue from 'vue'
  import About from '@/components/About'

  Vue.use(Router)

  export default {
    name: "login",
    data () {
      return {
        imageName: imageHome1,
        value_inputBox: ""
      }
    },
    methods: {
      handlers_click: function(){
        this.$router.push({
          path: '/About:' + this.value_inputBox, 
        });
      },
      Handler_somethings({ type, target }){
        const event = {
          type,
          isCheckbox: target.type === 'checkbox',
          target: {
            value: target.value,
            checked: target.checked
          }
        }
        if (event.type === "input"){
          console.log(event.target.value.indexOf("/"));
          if (event.target.value.indexOf("/") !== -1){
            this.value_inputBox = "";
          }
        }
=======
// import image
import imageHome1 from '@/assets/Auth/logo.jpg'

  export default {
    name: "Home",
    data () {
      return {
        imageName: imageHome1
>>>>>>> origin/master
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
<<<<<<< HEAD
    .home {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        border: solid 1px #1d78b8;
        width: 650px;
        height: 500px;
        position: absolute;
        margin-left: 36%;
        border-radius: 6px;
    }
    .img-show{
        height: 200px;
        width: 200px;
    }
    .txt-input{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        margin-top: 20px;
        width: 200px;
        height: 22px;
        border-radius: 4px;
        border: solid 1px #1d78b8;
    }
=======
.login {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    font-size: 34px;
    font-weight: 700;
    align-content: center;
    color: blue;
}

.img-show{
  height: 200px;
  width: 250px;
}
.auth-txt-box{
    font-family: 'Courier New', Courier, monospace;
    padding: 4px;
    width: 150px;
    height: 20px;
    font-size: 18px;
}
.auth-space{
    position: relative;
    display: inline;
}
.btn-auth{
    width: 340px;
    height: 70px;
    margin-top: 30px;
    border: solid 1px #000000;
    background-color: #ffffff;
}
.btn-auth:hover{
    background-color: #178bb8;
}
>>>>>>> origin/master
</style>
